@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 100% 100%;
    --foreground: 221 32% 28%;

    --card: 0, 0%, 100%;
    --card-foreground: 221 32% 28%;

    --popover: 0 100% 100%;
    --popover-foreground: 221 32% 28%;

    --primary: 214 64% 44%;
    --primary-foreground: 0 0% 100%;

    --secondary: 217 59% 85%;
    --secondary-foreground: 221 32% 28%;

    --muted: 217 59% 85%;
    --muted-foreground: 222 13% 64%;

    --accent: 217 59% 85%;
    --accent-foreground: 221 32% 28%;

    --destructive: 359 85% 60%;
    --destructive-foreground: 0 0% 100%;

    --caution: 43 66% 59%;
    --caution-foreground: 0 0% 100%;

    --confirm: 137 46% 59%;
    --confirm-foreground: 0 0% 100%;

    --border: 217 59% 85%;
    --input: 217 59% 85%;
    --ring: 0 0% 0%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 221, 88%, 26%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

html,
body,
:root {
  overflow-x: hidden;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.active {
  @apply lg:bg-secondary/60;
}

.active > div {
  @apply w-6;
}

.scroll-area-body > div {
  height: 100%;
}

.about-text-animation {
  --y-initial: -50px;
  --y-animate: 0px;
  --x-initial: 0px;
  --x-animate: 0px;
  --opacity-initial: 0;
  --opacity-animate: 1;

  @media (min-width: 1024px) {
    --y-initial: 0px;
    --y-animate: 0px;
    --x-initial: -50px;
    --x-animate: 0px;
    --opacity-initial: 0;
    --opacity-animate: 1;
  }
}

.how-it-works-text-animation {
  --y-initial: -50px;
  --y-animate: 0px;
  --x-initial: 0px;
  --x-animate: 0px;
  --opacity-initial: 0;
  --opacity-animate: 1;

  @media (min-width: 640px) {
    --y-initial: 0px;
    --y-animate: 0px;
    --x-initial: -50px;
    --x-animate: 0px;
    --opacity-initial: 0;
    --opacity-animate: 1;
  }
}

.services-left-buttons-animation {
  --y-initial: 50px;
  --y-animate: 0px;
  --x-initial: 0px;
  --x-animate: 0px;
  --opacity-initial: 0;
  --opacity-animate: 1;

  @media (min-width: 640px) {
    --y-initial: 0px;
    --y-animate: 0px;
    --x-initial: -50px;
    --x-animate: 0px;
    --opacity-initial: 0;
    --opacity-animate: 1;
  }
}

.services-right-buttons-animation {
  --y-initial: 50px;
  --y-animate: 0px;
  --x-initial: 0px;
  --x-animate: 0px;
  --opacity-initial: 0;
  --opacity-animate: 1;

  @media (min-width: 640px) {
    --y-initial: 0px;
    --y-animate: 0px;
    --x-initial: 50px;
    --x-animate: 0px;
    --opacity-initial: 0;
    --opacity-animate: 1;
  }
}
